@media only screen and (max-width: 576px){

body{
  background-color: #000000;
}

.uppercontainer{
	display: block;
	position: fixed;	
	width: 100%;
	top: 0;
        z-index: 5;
}

.maincontainer{
        position: absolute;
        top: 75px;
        width: 100%;
        z-index: -10;
        overflow: scroll !important;
         
        bottom: 20px;
}

.backbtn{
	display: block;
	position: relative;
	background-color: #2dcac2;
	padding: 10px 15px 10px 12px;
	font-weight: bold;
	margin: 3%;
	outline: none;
	border: none;
	border-radius: 5px;
	font-size: 1.1rem;
	cursor: pointer;
        
}

/*.right{
  font-weight:bold;
  background: #00ACC1;
  border-block: none;
  height: 40px;
  padding: 4px;
  margin: auto;
}*/

.center{
  display: block;
  position: relative;
  left: calc(50% - 70px);
  margin-bottom: 20px;
  width:140px;
  height: 140px;
}

.uppertable{
  width: 92%;
  margin-left: 4%;
  font-size: 17px;
  text-align: left;
  color: white;
}

.lowertable{
  width: 96%;
  margin-left: 2%;
  font-size: 16px;
  text-align: left;
  color: white;
}

table{
  border-collapse: separate;
  border-spacing: 3px 8px;
}

.column1{
  width: 23%;
}

.column2{
  width: 4%;
  
  text-align: center;
}

.column3{
  width: 65%;
 
}

.column4{
  width: 25%; 
  
}

.column5{
  width: 35%;
  
}

.column6{
  width: 32%;
 
}
}