@media only screen and (max-width: 576px){
body{
  background-color: #000000;
}

nav{
  display: inline-block;
  margin-top: 10px;
}

.left{
  font-weight:bold;
  background: #00ACC1;
  border-block: none;
  height: 40px;
  padding: 4px;
  margin: none;
}

.right{
  font-weight:bold;
  background: #00ACC1;
  border-block: none;
  height: 40px;
  padding: 4px;
  margin: none;
}

.center{
  display: block;
  margin-left: 150px;
  margin-top: 10px;
  width:140px;
  height=140px;
}
  
tr{
  width: 10px;
  text-align: left;
  border-spacing: 5px;
  font-size: 17px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #000000;
  margin-left:4%;
}

table{
  width: 100% !important;
}

.column1{
  width: 23%;
  background-color: #009688;
}

.column2{
  width: 4%;
  background-color: #8bc34a;
}

.column3{
  width: 65%;
  background-color: #9c27b0;
}

.column4{
  width: 25%;
  text-align: left;
  margin-left: 2%;
  background-color: #673ab7;
}

.column5{
  width: 35%;
  text-align: left;
  margin-left: 2%;
  background-color: #03a9f4;
}


.column6{
  width: 32%;
  text-align: left;
  margin-left: 2%;
  margin-right: 2%;
  background-color: #00bcd4;
}

.ex{
  width: 10px;
  text-align: left;
  border-spacing: 5px;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 40px;
  color: #000000;
  margin-left:4%;
}
}