body{
   background: #B3B3B3;
   font-size: 150%;
   margin: 4%
}

header{
   backgrouund: #666666;
   text-align: center;
   padding:15px;
}

h1{
   color: #FFFFFF;
   text-align: center;
   background: #666666;
}

nav{
   font-variant: small-caps;
   font-size: 100%;
   font-family: Arial, "Time New Roman", serif;
   text-align: center;
   background: #666666; 
}

h2{
   color: #666666;
   background: #00B7ea;
}

section{
   width: 30%;
   display: inline-block;
   float: left;
   margin: left;
   margin: 1%;
}

details{
   font-style: italic;  
}

summary{ 
   font-style: normal;
}

footer{
   background: #666666;
   clear: both;
}
   